#!/usr/bin/env bash

# add ./build-harness/vendor to path
export PATH=./bin:./build-harness/bin:./build-harness/vendor:$PATH

# the path specified by REPO_PATH is there we will clone the
# source repositories specified in .repo-manifest
REPO_PATH=$(pwd)/src
export REPO_PATH

# alpaca trading account api (paper)
export alpaca_endpoint=https://paper-api.alpaca.markets
export alpaca_api_key_id=xxxxxxxxxxxxxxxxx
export alpaca_secret_key=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

export POSTGRES_USER=${POSTGRES_USER:-postgres}
export POSTGRES_PASSWORD=${POSTGRES_PASSWORD:-password}
export PGDATA=/data/postgres

export PGADMIN_DEFAULT_EMAIL=admin@admin.com
export PGADMIN_DEFAULT_PASSWORD=$POSTGRES_PASSWORD
export PGADMIN_CONFIG_SERVER_MODE="False"

export REDIS_PASSWORD=${REDIS_PASSWORD:-password}
